{% extends 'base.html' %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
    <link href="{{ url_for('static',filename='css/register.css') }}" rel="stylesheet">

<div class="container mt-3">
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["warning"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}


{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

</div>

<section class="vh-200 gradient-custom">

  <div class="mask d-flex align-items-center h-200 gradient-custom-3">
    <div class="container h-200">
      <div class="row d-flex justify-content-center align-items-center h-200">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="POST">
                {{ form.csrf_token }}

                <div class="form-outline mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control form-control-lg" ,value = username) }}
                     <br/>
                </div>
                <div class="d-flex justify-content-center">
                    {{ form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body") }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
