{% extends 'base.html' %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
    <link href="{{ url_for('static',filename='css/register.css') }}" rel="stylesheet">
<div class="container mt-3">
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["warning"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}


{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

</div>
<style>
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 3000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<form method="POST">
              <div class="form-outline form-black mb-4">
                  {{ form.csrf_token }}
                 <div class="form-outline mb-3">
                    {{ render_field(form.password_hash, class="form-control") }}
                     <a href="{{ url_for('random_pass') }}" target="_blank">
                        <button type="button" class="btn btn-primary btn-rounded" style="margin-top:5px">Password Generator</button>
                    </a>
                      <br/>
                     <br/>
                     <div class="dropdown">
                          <button class="dropbtn">Password Requirements</button>
                          <div class="dropdown-content">
                              <p>Minimum length: 8</p>
                              <p>Minimum 2 uppercase letters</p>
                              <p>Minimum 2 digits</p>
                              <p>Minimum 2 special characters</p>
                              <p>Minimum 2 non-letter characters (digits, specials, anything)</p>
                          </div>
                      </div>
                  </div>

                 <div class="form-outline mb-3">
                    {{ render_field(form.password_hash2, class="form-control") }}
                      <br/>
                  </div>

                <div class="d-flex justify-content-center">
                    {{ form.submit(class="btn btn-success btn-block btn-lg gradient-custom-4 text-body") }}
                </div>

              </div>
</form>

{% endblock %}
