{% extends 'base.html' %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
    <link href="{{ url_for('static',filename='css/github_register.css') }}" rel="stylesheet">

<div class="container mt-3">
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["warning"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}


{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

</div>
<section style="background-image: url(static/images/github_bg.gif); border-radius:50px">
  <div class="mask d-flex align-items-center h-200 gradient-custom-3">
    <div class="container h-200">
      <div class="row d-flex justify-content-center align-items-center h-200">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;background-color:#141e32;color:#6478aa">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account using<br/>
                <img src="{{ url_for('static', filename='images/google_logo.png') }}" width="30%"/>
              </h2>

              <form method="POST">

                {{ form.csrf_token }}
                <div class="form-outline mb-3" style="color:#00e6c7"><span style="color:red;">*</span>
                    {{ render_field(form.otp, class="form-control") }}
                      <br/>
                  </div>

                <div class="d-flex justify-content-center">
                  {{ form.submit(class="btn-block btn-lg gradient-login-btn") }}
                </div>
              </form>
              <p class="text-center text-muted mt-5 mb-0" style="color:white" id="countdown"></p>
              <p class="text-center text-muted mt-5 mb-0">You will be redirected back to the previous page if the countdown expires.</p>
              <script>
                let timerOn = true;
                function timer(remaining) {
                  var m = Math.floor(remaining / 60);
                  var s = remaining % 60;
                  m = m < 10 ? "0" + m : m;
                  s = s < 10 ? "0" + s : s;
                  document.getElementById("countdown").innerHTML = `OTP Valid For: ${m} : ${s}`;
                  remaining -= 1;
                  if (remaining >= 0 && timerOn) {
                    setTimeout(function () {
                      timer(remaining);
                    }, 1000);
                    document.getElementById("resend").innerHTML = `
                    `;
                    return;
                  }
                  if (!timerOn) {
                    return;
                  }
                  document.getElementById("countdown").innerHTML = `OTP is no longer Valid.`;
                  location.href = "{{ url_for('expire_otp_google_login') }}";
                }
                timer(60);
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
