{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h1>Blog Posts...</h1>
<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
<h3>Title: {{ post.title }}</h3><br/>
    <small>
        Author: {{ post.author }}<br/>
        Date Posted: {{ post.date_posted.strftime('%Y-%m-%d') }}<br/>
    </small>
    <br/>
    Content: {{ post.content|safe }}


<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.poster.profile_pic %}
                <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic) }} " align="left" width="100"/>

            {% else %}
                <img src="{{ url_for('static', filename='images/default.png') }} " align="left" width="100"/>
            {% endif %}
        </div>



        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ attributes_name }}
                </h5>
                <p class="card-text">
                    {% if post.poster.about_author %}
                        About Author: {{ attributes_about_author }}
                    {% else %}
                        No About Author Yet...
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>


    <a href="{{ url_for('posts') }}" class="btn btn-outline-primary btn-sm">Back to Blog</a>

     {% if post.poster_id == current_user.id %}
    <a href="{{ url_for('edit_post',id=post.id) }}" class="btn btn-outline-primary btn-sm">Edit Post</a>
    <a href="{{ url_for('delete_post',id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}

</div>
<br/>

{% endblock %}
