{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1>Blog Posts...</h1>
<br/>


{% for post in posts %}
{% if post.poster_id != None %}

<div class="shadow p-3 mb-5 bg-body rounded">
<h3>Title: {{ post.title }}</h3>
    <small>
        Author: {{ post.poster.username }}<br/>
        Date Posted: {{ post.date_posted.strftime('%Y-%m-%d') }}<br/>
    </small>
    <br/>
    Content: {{ post.content|safe }}
<br/>
    <a href="{{ url_for('post',id=post.id) }}" class="btn btn-outline-primary btn-sm">View Posts</a>

    {% if post.poster_id == current_user.id  or current_user.id == 1 %}
    <a href="{{ url_for('edit_post',id=post.id) }}" class="btn btn-outline-primary btn-sm">Edit Post</a>
    <a href="{{ url_for('delete_post',id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}

</div>
<br/>

{% else %}

<div class="shadow p-3 mb-5 bg-body rounded">
<h3>Title: {{ post.title }}</h3>
    <small>
        Author: {{ post.poster.username }}<br/>
        Date Posted: {{ post.date_posted }}<br/>
    </small>
    <br/>
    Content: {{ post.content|safe }}
    <br/>
    This Account Is No Longer Active

    {% if current_user.id == 1 %}
    <a href="{{ url_for('delete_post',id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}

</div>
<br/>

{% endif %}
{% endfor %}

{% endblock %}
